<!doctype html>
<html>
<head>
  {% include "_preflight-css" %}
  {{ content_for_header }}
</head>

<body>
  {% include "_global-content" %}
  {{ content_for_layout }}

  {% if request.design_mode %}
    <iframe id="theme-editor" style="width: 100%; height: 100%; overflow: hidden;"
            src="http://localhost:3000{{ request.path }}"
            frameborder="0"></iframe>

    <script>
      const themeEditor = document.getElementById("theme-editor");
      const handleEvents = (e) => {
        console.log(e.type);
        console.log(e);
        setTimeout(() => {
          const global = JSON.parse(document.querySelector("[data-global]").textContent);
          const sections = [];
          document.querySelectorAll("[data-section]").forEach((scriptElement) => {
            sections.push(JSON.parse(scriptElement.textContent));
          });

          console.log({ global, sections });
          themeEditor?.contentWindow.postMessage({
              source: "theme-editor",
              topic: e.type,
              global,
              sections,
            },
            "*",
          );
        }, 15);

      };
      document.addEventListener('shopify:inspector:activate', (e) => {
        handleEvents(e);
      });
      document.addEventListener('shopify:inspector:deactivate', (e) => {
        handleEvents(e);
      });
      document.addEventListener('shopify:section:load', (e) => {
        handleEvents(e);
      });
      document.addEventListener('shopify:section:unload', (e) => {
        handleEvents(e);
      });
      document.addEventListener('shopify:section:select', (e) => {
        handleEvents(e);
      });
      document.addEventListener('shopify:section:deselect', (e) => {
        handleEvents(e);
      });
      document.addEventListener('shopify:section:reorder', (e) => {
        handleEvents(e);
      });
      document.addEventListener('shopify:block:select', (e) => {
        handleEvents(e);
      });
      document.addEventListener('shopify:block:deselect', (e) => {
        handleEvents(e);
      });
    </script>
  {% endif %}

</body>
</html>

